@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e6e6e6;
    --foreground: #535353;

    --muted: #898989;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: #ffffff;
    --card-foreground: #0e151d;

    --primary: #f24500;
    --primary-foreground: #fff;

    --secondary: #ffffff;
    --secondary-foreground: #19232f;

    --accent: #ff926878;
    --accent-foreground: #f8f8f8;

    --destructive: #d00000;
    --destructive-foreground: #ffffff;

    --ring: #4c4847;
    --border: #4c4847;
    --input: #4c4847;

    --radius: 0.5rem;
  }

  .dark {
    --background: #19232f;
    --foreground: #e3e6e6;

    --muted: #5e5e5e;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: #111820;
    --card-foreground: #ffff;

    --primary: #ff500b;
    --primary-foreground: #fff;

    --secondary: #121b24;
    --secondary-foreground: #f8f8f8;

    --accent: #243140;
    --accent-foreground: #f8f8f8;

    --destructive: #d00000;
    --destructive-foreground: #ffffff;

    --ring: #3a4d5f;
    --border: #3a4d5f;
    --input: #3a4d5f;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow: hidden;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
}

body {
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
}
